@font-face {
	font-family: Dancing;
    src: url(Dancing_Script.ttf);
}

body {
	font-family: Dancing;
	background-color: #02010a;
	color: white;
}

.contenido {
	width: 900px;
	margin: 0 auto;
	
/* INICIO Animación slidein*/
	-webkit-animation-name: slidein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slidein;
    animation-duration: 1s;
}

}

/*Animación slidein*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slidein {
    0%   {margin-top: 150%;}
    60%  {margin-top: -5%;}
    100% {margin-top: 0%}
 }

/* Standard syntax */
@-webkit-keyframes slidein {
    0%   {margin-top: 150%;}
    60%  {margin-top: -5%;}
    100% {margin-top: 0%}
 }

 /* FINAL Animación slidein*/

header {
	width: 100%;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	overflow: hidden;

}

 header h1 {
 	margin: 10px;
 	text-shadow: 2px 2px #02010a;
 	float: left;
 }

header nav {
	float:right;
	margin: 10px;
}

header nav a {
	display:inline-block;
	text-decoration:none;
	color:#fff;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	float: right;
}

 header nav a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px #02010a;
}


	
.galeria {
	margin: 0 auto;
	width: 100%;
	background-color: #d5c75f;
	overflow: hidden;
	position: relative;
	
}


.fotos img{
	margin: 15px;
	padding: 0px;	
	max-width: 30%;
	height: auto;
	float: left; 
	box-shadow: 2px 2px #02010a;
}

#foto1 {
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
}

#foto2, #foto4, #foto6 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#foto3 {
    -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
    filter: sepia(90%);
}


footer {
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
}

.flotante {
	display: inline-block;
    width: 210px;
    margin.top: 5px;
    color: black;
}


.footer_titulo{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0px;
} 

.contenido_footer {
	padding: 5px;
	font-size: 1em;
}

/*  movil */

@media screen and (max-width: 900px){
	.contenido {
		width: 100%;
		margin: 0 auto;

	}
	header{
		text-align: center;
		margin: auto;
	}
	header h1, header nav {
		width:100%;
		margin: auto;
		text-align: center;
		line-height:50px;
	}
	
	.galeria {
		width: 100%;
		margin: 0 auto;
		display: inline-block;
		
	}

	.fotos img{
		margin: 15px auto;
		display: block;
		max-width: 75%;
		float: none;
	}
	
}

/*  movil */










